venv/
__pycache__/
*.pyc
*.pyo
*.log
node_modules/
.env
*.mp4
backend/data/output/
backend/data/audio_output/
backend/data/video_cache/
backend/data/cached_api_videos/
backend/data/output/non_watermarked_videos
backend/data/output/watermarked_videos