backend/app/model_cache/
backend/app/model_cache
/home/ubuntu/shortreels_v2/backend/app/model_cache
*.mp4
*.wav
*.mov
*.avi
backend/data/output/
backend/data/audio_output/
backend/data/video_cache/
backend/data/cached_api_videos/
venv/
__pycache__/
*.pyc
*.pyo
*.log
node_modules/
.env
